In [ ]:
from math import *

In [ ]:
print("Hello")

Hello

In [ ]:
Name1 = "Srijon"
Age1 = "24"

print(Name1 + " " + "is a good boy")
print("He is now " + Age1 + " years old\n")


Name2 = "Monmoy"
Age2 = "25"

print(Name2 + " " + "is a good boy")
print("He is now " + Age2 + " years old")

Srijon is a good boy
He is now 24 years old

Monmoy is a good boy
He is now 25 years old

In [ ]:
print("Giraffe \ Academy")
print("Giraffe \" Academy")

Giraffe \ Academy
Giraffe " Academy

In [ ]:
phrase= "Giraffe Academy"

print(phrase)
print(phrase.upper())
print(phrase.lower() + "\n")

print(phrase.isupper())
print(phrase.islower())

print("\n")

print(phrase.upper().isupper())
print(phrase.lower().islower())

Giraffe Academy
GIRAFFE ACADEMY
giraffe academy

False
False


True
True

In [ ]:
p =str((len(phrase)))

print("Length: " + p)

Length: 15

In [ ]:
print(phrase[0])

print(phrase.index("G"))

print(phrase.index("Acad"))

print(phrase.index("a"))

print(phrase.replace("Giraffe", "Elephant"))

G
0
8
3
Elephant Academy

In [ ]:
print(2)

print(3 * 4)

print(10/3)

print(3*4+5)

num = 137
print(str(num) + " is my number")

print(abs(-15))

print("The power function for (4 to the power 3) is written as: pow(4,3) " + "\n" + "And the result is: " + str(pow(4,3)))

print(max(5,7))
print(min(5,7))

print(round(3.7))
print(round(3.5))
print(round(3.2))

print(floor(3.5))
print(ceil(3.5))
print(sqrt(81))

2
12
3.3333333333333335
17
137 is my number
15
The power function for (4 to the power 3) is written as: pow(4,3)
And the result is: 64.0
7
5
4
4
3
3
4
9.0

In [ ]:
'''name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello " + name)
print("Hello " + name + " And, your age is just: " + age)'''

'name = input("Enter your name: ")\nage = input("Enter your age: ")\n\nprint("Hello " + name)\nprint("Hello " + name + " And, your age is just: " + age)'

# **Basic Calculator**

In [ ]:
'''num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

sum = num1 + num2
print("Concatenation: " + sum)

add = int(num1) + int(num2)
print("Addition: " + str(add))

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

sum = num1 + num2
print("Concatenation: " + str(sum))'''

'num1 = input("Enter the first number: ")\nnum2 = input("Enter the second number: ")\n\nsum = num1 + num2\nprint("Concatenation: " + sum)\n\nadd = int(num1) + int(num2)\nprint("Addition: " + str(add))\n\nnum1 = int(input("Enter the first number: "))\nnum2 = int(input("Enter the second number: "))\n\nsum = num1 + num2\nprint("Concatenation: " + str(sum))'

In [ ]:
friends = ["Anamika", "Sakil", "Monmoy", "Tanjid", "Tonu"]
numbers = [4,8,6,5,7,3,9,4,5,8,2,5,4,7,8,9,6,5,2]

print(friends[2])
print(friends[-2])
print(friends[1:3])

print("\nNormal List: " + str(friends))

friends.pop()
print(friends)

friends.append("Himi")
print("\nAppended \"Himi\": " + str(friends))

friends.insert(2, "Emon")
print("\nInserted \"Emon\": " + str(friends))

print("\nNormal Numbers: " + str(numbers))

numbers.sort()
friends.sort()
print("\nSorted Numbers: " + str(numbers))
print("\nSorted Friends: " + str(friends))

friends.reverse()
print("\nReversed numbers: " + str(numbers))


print("\nIndex of \"Monmoy\" " + str(friends.index("Monmoy")))

friends.extend(numbers)
print(friends)

friends.remove("Emon")
print(friends)

numbers2 = numbers.copy()
print("Numbers2: " + str(numbers2))

friends.clear()
print(friends)

Monmoy
Tanjid
['Sakil', 'Monmoy']

Normal List: ['Anamika', 'Sakil', 'Monmoy', 'Tanjid', 'Tonu']
['Anamika', 'Sakil', 'Monmoy', 'Tanjid']

Appended "Himi": ['Anamika', 'Sakil', 'Monmoy', 'Tanjid', 'Himi']

Inserted "Emon": ['Anamika', 'Sakil', 'Emon', 'Monmoy', 'Tanjid', 'Himi']

Normal Numbers: [4, 8, 6, 5, 7, 3, 9, 4, 5, 8, 2, 5, 4, 7, 8, 9, 6, 5, 2]

Sorted Numbers: [2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]

Sorted Friends: ['Anamika', 'Emon', 'Himi', 'Monmoy', 'Sakil', 'Tanjid']

Reversed numbers: [2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]

Index of "Monmoy" 2
['Tanjid', 'Sakil', 'Monmoy', 'Himi', 'Emon', 'Anamika', 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]
['Tanjid', 'Sakil', 'Monmoy', 'Himi', 'Anamika', 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]
Numbers2: [2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 9]
[]

# **Tuple**

In [ ]:
#Tuple

# Function

In [ ]:
'''def say_hi(name,age):
  print("Hey " + name + ", you are " + str(age) + " years old.")

say_hi(input("Enter your name: "), input("Enter your age: "))

def cube(num):
  return pow(num,3)

cube(4)'''

'def say_hi(name,age):\n  print("Hey " + name + ", you are " + str(age) + " years old.")\n\nsay_hi(input("Enter your name: "), input("Enter your age: "))\n\ndef cube(num):\n  return pow(num,3)\n\ncube(4)'

# If_Else

In [ ]:
import random

is_male = bool(random.randint(0,1))
is_tall = bool(random.randint(0,1))

if is_male and is_tall:
  print("you are a tall male")
elif is_male and not(is_tall):
  print("you are a short male")
else:
  print("you are not a male")

you are a short male

# Max_num

In [ ]:
'''def max_num():
  num1 = float(input("Enter 1st number: "))
  num2 = float(input("Enter 2nd number: "))
  num3 = float(input("Enter 3rd number: "))

  if num1>=num2 and num1>=num3:
    print("Maximum number is: " + str(num1))
  elif num3>=num2 and num3>=num1:
    print("Maximum number is: " + str(num3))
  else:
    print("Maximum number is: " + str(num2))

max_num()'''

'def max_num():\n  num1 = float(input("Enter 1st number: "))\n  num2 = float(input("Enter 2nd number: "))\n  num3 = float(input("Enter 3rd number: "))\n\n  if num1>=num2 and num1>=num3:\n    print("Maximum number is: " + str(num1))\n  elif num3>=num2 and num3>=num1:\n    print("Maximum number is: " + str(num3))\n  else:\n    print("Maximum number is: " + str(num2))\n\nmax_num()'

# Calculator

In [ ]:
'''def calculator():
  num1 = float(input("Enter the 1st number: "))
  op = input("Enter the operator: ")
  num2 = float(input("Enter the 2nd number: "))

  if op=="+":
    return num1+num2

  elif op=="-":
    return num1-num2

  elif op=="*":
    return num1*num2

  elif op=="/":
    return num1/num2

  elif op=="%":
    return num1%num2

calculator()'''

'def calculator():\n  num1 = float(input("Enter the 1st number: "))\n  op = input("Enter the operator: ")\n  num2 = float(input("Enter the 2nd number: "))\n\n  if op=="+":\n    return num1+num2\n\n  elif op=="-":\n    return num1-num2\n\n  elif op=="*":\n    return num1*num2\n\n  elif op=="/":\n    return num1/num2\n\n  elif op=="%":\n    return num1%num2\n\ncalculator()'

# Dictionaries

In [ ]:
'''month_conversion = {
    "jan": "January",
    "feb": "February",
    "mar": "March",
    "apr": "April",
    "may": "May",
    "jun": "June",
    "jul": "July",
    "aug": "August",
    "sep": "September",
    "oct": "October",
    "nov": "November",
    "dec": "December",
    "fri": "Friday"
}
p = input("Enter a month: ")
print(month_conversion[p])'''

'month_conversion = {\n    "jan": "January",\n    "feb": "February",\n    "mar": "March",\n    "apr": "April",\n    "may": "May",\n    "jun": "June",\n    "jul": "July",\n    "aug": "August",\n    "sep": "September",\n    "oct": "October",\n    "nov": "November",\n    "dec": "December",\n    "fri": "Friday"\n}\np = input("Enter a month: ")\nprint(month_conversion[p])'

In [ ]:
'''friend_list = {1:"Anamika",2:"Sakil",3:"Monmoy"}

print(friend_list[1])'''

'friend_list = {1:"Anamika",2:"Sakil",3:"Monmoy"}\n\nprint(friend_list[1])'

In [ ]:
'''friend_list = {
    "Anamika": {
        "phone": "123-456-7890",
        "email": "anamika@example.com"
    },
    "Sakil": {
        "phone": "234-567-8901",
        "email": "sakil@example.com"
    }
}

print(friend_list["Anamika"]["phone"])

print("\n" + str(friend_list["Anamika"]))'''

'friend_list = {\n    "Anamika": {\n        "phone": "123-456-7890",\n        "email": "anamika@example.com"\n    },\n    "Sakil": {\n        "phone": "234-567-8901",\n        "email": "sakil@example.com"\n    }\n}\n\nprint(friend_list["Anamika"]["phone"])\n\nprint("\n" + str(friend_list["Anamika"]))'

# Loop

In [ ]:
i = 1
while i<=10:
  print("This is loop: " + str(i))
  i += 1

print("Loop ended.")

This is loop: 1
This is loop: 2
This is loop: 3
This is loop: 4
This is loop: 5
This is loop: 6
This is loop: 7
This is loop: 8
This is loop: 9
This is loop: 10
Loop ended.

In [ ]:
for i in range(10):
  print("This is loop: " + str(i))
print("Loop ended.")

for i in range(1,10,2):
  print("This is loop: " + str(i))
print("Loop ended.")

This is loop: 0
This is loop: 1
This is loop: 2
This is loop: 3
This is loop: 4
This is loop: 5
This is loop: 6
This is loop: 7
This is loop: 8
This is loop: 9
Loop ended.
This is loop: 1
This is loop: 3
This is loop: 5
This is loop: 7
This is loop: 9
Loop ended.

In [ ]:
password = "srijon"
inp = ""
count = 1

while inp != password:
  inp = input("Enter the password to login: ")
  count +=1
  if count==3:
    print("Failed")

print("You have successfully logged in.")

Enter the password to login: 45
Enter the password to login: 78
Failed
Enter the password to login: srijon
You have successfully logged in.

In [ ]:
word = "srijon"
inp = ""
count = 1

while inp != word:
  inp = input("Enter the password to login: ")
  count +=1
  if count==3:
    print("Failed")

print("You have successfully logged in.")

Enter the password to login: srijon
You have successfully logged in.

In [ ]:
word = "srijon"
inp = ""
count = 0
max_attempts = 3

while inp != word:
    inp = input("Enter the password to login: ")
    count += 1
    if count == max_attempts:
        break  # Add this line to exit the loop after max attempts

if inp == word:
  print("You have successfully logged in.")
else:
  print("Failed")

Enter the password to login: s
Enter the password to login: s
Enter the password to login: srijon
You have successfully logged in.

In [ ]:
password = "srijon"
#guess=""
guess = input("Enter the password to login: ")

while guess != password:
  guess = input("Enter the password to login: ")

print("You have successfully logged in.")

Enter the password to login: ft
Enter the password to login: lk
Enter the password to login: lk
Enter the password to login: lk
Enter the password to login: srijon
You have successfully logged in.

In [ ]:
password = "srijon"
guess = ""
attempts = 0
max_attempts = 3

while guess != password and attempts < max_attempts:
    guess = input("Enter the password to login: ")
    attempts += 1

if guess == password:
    print("You have successfully logged in.")
else:
    print("You have exceeded the maximum number of attempts. Access denied.")

Enter the password to login: srijon
You have successfully logged in.

In [ ]:
A=input("Enter name")